*,::after,::before{
    outline: 1px soild #eeeeee;
}
img{
    max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.info{
    height: 968px;
    background: no-repeat url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/banner.png") center;
}
.contant{
    margin: 0 auto;
}
.header{

    width: 304px;
    margin: 0 auto;
    color: $color-text-w;

    h1{        
        span{
            font: $font-b-i;
        }
        font:italic bold 80px/106px 'Roboto';
 
        margin-bottom: 32px;
    }
    p{
        font:$font-b-i;
        margin-bottom: 40px;
        margin-left: 16px;
    }
    .icons{
        margin-left: 16px;
        display: flex;
        justify-content: space-between;

    }
}
.about{
    margin-top: 56px;
    .per_de{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font:$font-m-i-l;
            text-align: center;
            margin-bottom: 40px;
        }
        img{
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            font:$font-m-i-mh;
        }
        ul{ 
            margin-top: 24px;
            border-top: 1px solid #000;
            width: 384px;
            margin-bottom: 56-14 px;
            .dot{
                display: inline;
                width: 22px;
                height: 22px;
                border-radius: 999em;
                background: #891818 no-repeat;
            }
            li{
                margin-top: 14px;
                margin-bottom: 14px;
                text-align: center;
                font: $font-m-i-mh;
            }
        }
    }
    
}
.brand{
    background-color: #000;
    color: #eeeeee;
    padding: 0 auto;
    padding-top: 56px;
    padding-bottom: 160px;
    .pre_br{
        max-width: 1200px;
        margin: 0 auto;
        h2{
            font:$font-m-i-l;
            text-align: center;
            margin-bottom: 12px;
        }
        .jk{
            font:$font-m-i-mh;
            text-align: center;
            margin-bottom: 32px;
        }
        p{
            font:$font-m-i-s;
            text-align: center;
            margin-bottom: 68px;        
        }
        .brand_pic{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%;
            .bd_p2{
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                max-width: 45%;
                margin-top: 40px;
            }
            .bd_p2R{
                margin-left: 24px;
            }
        }

    }
}
.works{
    margin-top: 56px;
    .pre_w{
        max-width: 1200px;
        margin: 0 auto;

        h2{
            font:$font-m-i-l;
            text-align: center;
            margin-bottom: 16px;
        }
        p{
            font:$font-m-i-s;
            text-align: center;
            margin-bottom: 56px;
        }
        .w_pd{
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
            .w_item{
                img{
                    margin-bottom: 16px;
                    max-width: 100%;
                }
                p{
                    font:$font-m-i-sh;
                    margin-bottom: 0px;

                }
            }
            }
            .w_pot{
                display: flex;
                justify-content: space-between;
                margin-bottom: 48px;
                .w_item{
                    img{
                        margin-bottom: 16px;
                        max-width: 100%;
                    }
                    p{
                        font:$font-m-i-sh;
                        margin-bottom: 0px;

                    }
                }

                }
                .w_o{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 144px;
                    .w_item{
                        img{
                            margin-bottom: 16px;
                            max-width: 100%;
                        }
                        p{
                            font:$font-m-i-sh;
                            margin-bottom: 0px;

                        }
                    }
    
                    }
    }

    
}
.footer{
    background-color: #000;
    color: #eeeeee;
    padding-top: 64px;
    padding-bottom: 64-16px;
    .contact{
        max-width: 1200px;
        margin: 0 auto;
        h2{
            font:$font-m-i-l;
            text-align: center;
            margin-bottom: 16px;
        }
        p{
            font:$font-m-i-m;
            text-align: center;
            margin-bottom: 16px;
        }
    }

}