$color-text-w:#ffffff;
$color-text-b:#000000;
$font-m-i-l:italic 500 64px/84px 'Roboto';
$font-b-i: italic bold 24px/36px 'Roboto';
$font-m-i-m: italic 500 24px/36px 'Roboto';
$font-m-i-mh: italic 400 24px/42px 'Roboto';
$font-m-i-s: italic 400 20px/30px 'Roboto';
$font-m-i-sh: italic 500 20px/42px 'Roboto';
